# Importing Requires Libraries

In [132]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Loading the Dataset

In [133]:
country_population = pd.read_csv("Dataset/country_population.csv")
fertility_rate = pd.read_csv("Dataset/fertility_rate.csv")
life_expectancy = pd.read_csv("Dataset/life_expectancy.csv")
metadata = pd.read_csv("Dataset/metadata_Country.csv")

# Data Preprocessing

In [134]:
print(country_population.shape)
print(fertility_rate.shape)
print(life_expectancy.shape)
print(metadata.shape)

(264, 61)
(264, 61)
(264, 61)
(263, 6)

In [135]:
country_population.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101220.0,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,26616792.0,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,20997687.0,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2970017.0,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,82683.0,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0

In [136]:
country_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 61 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            260 non-null    float64
 5   1961            260 non-null    float64
 6   1962            260 non-null    float64
 7   1963            260 non-null    float64
 8   1964            260 non-null    float64
 9   1965            260 non-null    float64
 10  1966            260 non-null    float64
 11  1967            260 non-null    float64
 12  1968            260 non-null    float64
 13  1969            260 non-null    float64
 14  1970            260 non-null    float64
 15  1971            260 non-null    float64
 16  1972            260 non-null    float64
 17  1973            260 non-null    float64
 18  1974            260 non-null    float64
 19  1975            260 non-null    float64
 20  1976            260 non-null    float64
 21  1977            260 non-null    float64
 22  1978            260 non-null    float64
 23  1979            260 non-null    float64
 24  1980            260 non-null    float64
 25  1981            260 non-null    float64
 26  1982            260 non-null    float64
 27  1983            260 non-null    float64
 28  1984            260 non-null    float64
 29  1985            260 non-null    float64
 30  1986            260 non-null    float64
 31  1987            260 non-null    float64
 32  1988            260 non-null    float64
 33  1989            260 non-null    float64
 34  1990            262 non-null    float64
 35  1991            262 non-null    float64
 36  1992            261 non-null    float64
 37  1993            261 non-null    float64
 38  1994            261 non-null    float64
 39  1995            262 non-null    float64
 40  1996            262 non-null    float64
 41  1997            262 non-null    float64
 42  1998            263 non-null    float64
 43  1999            263 non-null    float64
 44  2000            263 non-null    float64
 45  2001            263 non-null    float64
 46  2002            263 non-null    float64
 47  2003            263 non-null    float64
 48  2004            263 non-null    float64
 49  2005            263 non-null    float64
 50  2006            263 non-null    float64
 51  2007            263 non-null    float64
 52  2008            263 non-null    float64
 53  2009            263 non-null    float64
 54  2010            263 non-null    float64
 55  2011            263 non-null    float64
 56  2012            262 non-null    float64
 57  2013            262 non-null    float64
 58  2014            262 non-null    float64
 59  2015            262 non-null    float64
 60  2016            262 non-null    float64
dtypes: float64(57), object(4)
memory usage: 125.9+ KB

In [137]:
fertility_rate.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,4.820,4.655,4.471,4.271,4.059,3.842,...,1.763,1.764,1.769,1.776,1.783,1.791,1.796,1.800,1.801,1.800
1,Afghanistan,AFG,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.450,7.450,7.450,7.450,7.450,7.450,...,6.460,6.254,6.038,5.816,5.595,5.380,5.174,4.981,4.802,4.635
2,Angola,AGO,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,7.478,7.524,7.563,7.592,7.611,7.619,...,6.368,6.307,6.238,6.162,6.082,6.000,5.920,5.841,5.766,5.694
3,Albania,ALB,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,6.489,6.401,6.282,6.133,5.960,5.773,...,1.668,1.650,1.646,1.653,1.668,1.685,1.700,1.710,1.714,1.713
4,Andorra,AND,"Fertility rate, total (births per woman)",SP.DYN.TFRT.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.180,1.250,1.190,1.270,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
fertility_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 61 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            236 non-null    float64
 5   1961            237 non-null    float64
 6   1962            236 non-null    float64
 7   1963            235 non-null    float64
 8   1964            236 non-null    float64
 9   1965            236 non-null    float64
 10  1966            236 non-null    float64
 11  1967            236 non-null    float64
 12  1968            236 non-null    float64
 13  1969            236 non-null    float64
 14  1970            237 non-null    float64
 15  1971            238 non-null    float64
 16  1972            239 non-null    float64
 17  1973            237 non-null    float64
 18  1974            237 non-null    float64
 19  1975            238 non-null    float64
 20  1976            239 non-null    float64
 21  1977            238 non-null    float64
 22  1978            238 non-null    float64
 23  1979            238 non-null    float64
 24  1980            238 non-null    float64
 25  1981            240 non-null    float64
 26  1982            243 non-null    float64
 27  1983            240 non-null    float64
 28  1984            240 non-null    float64
 29  1985            240 non-null    float64
 30  1986            240 non-null    float64
 31  1987            244 non-null    float64
 32  1988            240 non-null    float64
 33  1989            240 non-null    float64
 34  1990            242 non-null    float64
 35  1991            242 non-null    float64
 36  1992            245 non-null    float64
 37  1993            241 non-null    float64
 38  1994            242 non-null    float64
 39  1995            244 non-null    float64
 40  1996            241 non-null    float64
 41  1997            245 non-null    float64
 42  1998            242 non-null    float64
 43  1999            243 non-null    float64
 44  2000            246 non-null    float64
 45  2001            246 non-null    float64
 46  2002            248 non-null    float64
 47  2003            246 non-null    float64
 48  2004            245 non-null    float64
 49  2005            247 non-null    float64
 50  2006            248 non-null    float64
 51  2007            249 non-null    float64
 52  2008            248 non-null    float64
 53  2009            248 non-null    float64
 54  2010            247 non-null    float64
 55  2011            248 non-null    float64
 56  2012            248 non-null    float64
 57  2013            246 non-null    float64
 58  2014            246 non-null    float64
 59  2015            247 non-null    float64
 60  2016            246 non-null    float64
dtypes: float64(57), object(4)
memory usage: 125.9+ KB

In [139]:
life_expectancy.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Aruba,ABW,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,65.662,66.074,66.444,66.787,67.113,67.435,...,74.576,74.725,74.872,75.016,75.158,75.299,75.440,75.582,75.725,75.867
1,Afghanistan,AFG,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,32.292,32.742,33.185,33.624,34.060,34.495,...,59.694,60.243,60.754,61.226,61.666,62.086,62.494,62.895,63.288,63.673
2,Angola,AGO,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,33.251,33.573,33.914,34.272,34.645,35.031,...,55.096,56.189,57.231,58.192,59.042,59.770,60.373,60.858,61.241,61.547
3,Albania,ALB,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,62.279,63.298,64.187,64.911,65.461,65.848,...,75.656,75.943,76.281,76.652,77.031,77.389,77.702,77.963,78.174,78.345
4,Andorra,AND,"Life expectancy at birth, total (years)",SP.DYN.LE00.IN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [140]:
life_expectancy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 61 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    264 non-null    object
 1   Country Code    264 non-null    object
 2   Indicator Name  264 non-null    object
 3   Indicator Code  264 non-null    object
 4   1960            235 non-null    float64
 5   1961            236 non-null    float64
 6   1962            236 non-null    float64
 7   1963            235 non-null    float64
 8   1964            235 non-null    float64
 9   1965            236 non-null    float64
 10  1966            236 non-null    float64
 11  1967            236 non-null    float64
 12  1968            236 non-null    float64
 13  1969            236 non-null    float64
 14  1970            237 non-null    float64
 15  1971            236 non-null    float64
 16  1972            236 non-null    float64
 17  1973            237 non-null    float64
 18  1974            236 non-null    float64
 19  1975            236 non-null    float64
 20  1976            236 non-null    float64
 21  1977            236 non-null    float64
 22  1978            238 non-null    float64
 23  1979            237 non-null    float64
 24  1980            239 non-null    float64
 25  1981            239 non-null    float64
 26  1982            242 non-null    float64
 27  1983            240 non-null    float64
 28  1984            240 non-null    float64
 29  1985            240 non-null    float64
 30  1986            241 non-null    float64
 31  1987            244 non-null    float64
 32  1988            241 non-null    float64
 33  1989            241 non-null    float64
 34  1990            243 non-null    float64
 35  1991            244 non-null    float64
 36  1992            244 non-null    float64
 37  1993            242 non-null    float64
 38  1994            244 non-null    float64
 39  1995            244 non-null    float64
 40  1996            243 non-null    float64
 41  1997            246 non-null    float64
 42  1998            243 non-null    float64
 43  1999            244 non-null    float64
 44  2000            247 non-null    float64
 45  2001            245 non-null    float64
 46  2002            248 non-null    float64
 47  2003            245 non-null    float64
 48  2004            245 non-null    float64
 49  2005            246 non-null    float64
 50  2006            246 non-null    float64
 51  2007            247 non-null    float64
 52  2008            247 non-null    float64
 53  2009            247 non-null    float64
 54  2010            246 non-null    float64
 55  2011            246 non-null    float64
 56  2012            247 non-null    float64
 57  2013            245 non-null    float64
 58  2014            245 non-null    float64
 59  2015            244 non-null    float64
 60  2016            245 non-null    float64
dtypes: float64(57), object(4)
memory usage: 125.9+ KB

In [141]:
metadata.head()

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,SNA data for 2000-2011 are updated from offici...,Aruba,NaN
1,AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...,Afghanistan,NaN
2,AGO,Sub-Saharan Africa,Lower middle income,NaN,Angola,NaN
3,ALB,Europe & Central Asia,Upper middle income,NaN,Albania,NaN
4,AND,Europe & Central Asia,High income,WB-3 code changed from ADO to AND to align wit...,Andorra,NaN

In [142]:
metadata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Code  263 non-null    object
 1   Region        217 non-null    object
 2   IncomeGroup   217 non-null    object
 3   SpecialNotes  147 non-null    object
 4   TableName     263 non-null    object
 5   Unnamed: 5    0 non-null      float64
dtypes: float64(1), object(5)
memory usage: 12.5+ KB

# Melting Down the dataset

**Melting down the Country's population dataset**

In [143]:
country_population.drop(columns=['Indicator Name','Indicator Code'], inplace=True)

In [144]:
country_population_melt = pd.melt(country_population, id_vars=["Country Name", "Country Code"], 
                    var_name="Year", value_name="Population")

In [145]:
country_population_melt['Year'] = country_population_melt['Year'].astype(int)

In [146]:
country_population_melt

       Country Name Country Code  Year  Population
0             Aruba          ABW  1960     54211.0
1       Afghanistan          AFG  1960   8996351.0
2            Angola          AGO  1960   5643182.0
3           Albania          ALB  1960   1608800.0
4           Andorra          AND  1960     13411.0
...             ...          ...   ...         ...
15043        Kosovo          XKX  2016   1816200.0
15044   Yemen, Rep.          YEM  2016  27584213.0
15045  South Africa          ZAF  2016  56015473.0
15046        Zambia          ZMB  2016  16591390.0
15047      Zimbabwe          ZWE  2016  16150362.0

[15048 rows x 4 columns]

**Melting down fertility_rate dataset**

In [147]:
fertility_rate.drop(columns=['Indicator Name','Indicator Code'], inplace=True)

In [148]:
fertility_rate_melt = pd.melt(fertility_rate, id_vars=["Country Name", "Country Code"], var_name="year", value_name="Fertility Rate")

In [149]:
fertility_rate_melt['year'] = fertility_rate_melt['year'].astype(int)

In [150]:
fertility_rate_melt

       Country Name Country Code  year  Fertility Rate
0             Aruba          ABW  1960           4.820
1       Afghanistan          AFG  1960           7.450
2            Angola          AGO  1960           7.478
3           Albania          ALB  1960           6.489
4           Andorra          AND  1960             NaN
...             ...          ...   ...             ...
15043        Kosovo          XKX  2016           2.060
15044   Yemen, Rep.          YEM  2016           3.995
15045  South Africa          ZAF  2016           2.458
15046        Zambia          ZMB  2016           4.981
15047      Zimbabwe          ZWE  2016           3.760

[15048 rows x 4 columns]

**Melting life_expectency dataset**

In [151]:
life_expectancy.drop(columns=['Indicator Name','Indicator Code'], inplace=True)

In [152]:
life_expectancy_melt = pd.melt(life_expectancy, id_vars=["Country Name", "Country Code"], var_name="year", value_name="life_expectancy")

In [153]:
life_expectancy_melt['year'] = life_expectancy_melt['year'].astype(int)

In [154]:
life_expectancy_melt

       Country Name Country Code  year  life_expectancy
0             Aruba          ABW  1960        65.662000
1       Afghanistan          AFG  1960        32.292000
2            Angola          AGO  1960        33.251000
3           Albania          ALB  1960        62.279000
4           Andorra          AND  1960              NaN
...             ...          ...   ...              ...
15043        Kosovo          XKX  2016        71.646341
15044   Yemen, Rep.          YEM  2016        64.953000
15045  South Africa          ZAF  2016        62.774000
15046        Zambia          ZMB  2016        61.874000
15047      Zimbabwe          ZWE  2016        61.163000

[15048 rows x 4 columns]

In [155]:
print(country_population_melt.shape)
print(fertility_rate_melt.shape)
print(life_expectancy_melt.shape)
print(metadata.shape)

(15048, 4)
(15048, 4)
(15048, 4)
(263, 6)

# Handling Missing Value

In [156]:
country_population_melt.isna().sum()

Country Name      0
Country Code      0
Year              0
Population      163
dtype: int64

In [157]:
country_population_melt.dropna(subset=['Population'], inplace=True)

In [158]:
fertility_rate_melt.isna().sum()

Country Name         0
Country Code         0
year                 0
Fertility Rate    1278
dtype: int64

In [159]:
fertility_rate_melt.dropna(subset=['Fertility Rate'], inplace=True)

In [160]:
life_expectancy_melt.isna().sum()

Country Name          0
Country Code          0
year                  0
life_expectancy    1301
dtype: int64

In [161]:
life_expectancy_melt.dropna(subset=['life_expectancy'], inplace=True)

In [162]:
metadata.rename(columns={'TableName':'Country Name'},inplace=True)

In [163]:
metadata['Region'].value_counts()

Region
Europe & Central Asia         58
Sub-Saharan Africa            48
Latin America & Caribbean     42
East Asia & Pacific           37
Middle East & North Africa    21
South Asia                     8
North America                  3
Name: count, dtype: int64

In [164]:
metadata.drop(columns=['IncomeGroup','SpecialNotes','Unnamed: 5'], inplace=True)

In [165]:
fertility_rate_melt.rename(columns= {'year' : 'Year'}, inplace=True)

In [166]:
country_population_melt.shape

(14885, 4)

In [167]:
fertility_rate_melt.shape

(13770, 4)

# Merging Country_population and Fertility_rate

In [168]:
merge1 = pd.merge(country_population_melt, fertility_rate_melt, on=['Country Name','Country Code','Year'], how='left')

In [169]:
merge1

       Country Name Country Code  Year  Population  Fertility Rate
0             Aruba          ABW  1960     54211.0           4.820
1       Afghanistan          AFG  1960   8996351.0           7.450
2            Angola          AGO  1960   5643182.0           7.478
3           Albania          ALB  1960   1608800.0           6.489
4           Andorra          AND  1960     13411.0             NaN
...             ...          ...   ...         ...             ...
14880        Kosovo          XKX  2016   1816200.0           2.060
14881   Yemen, Rep.          YEM  2016  27584213.0           3.995
14882  South Africa          ZAF  2016  56015473.0           2.458
14883        Zambia          ZMB  2016  16591390.0           4.981
14884      Zimbabwe          ZWE  2016  16150362.0           3.760

[14885 rows x 5 columns]

In [170]:
merge1.shape

(14885, 5)

In [171]:
merge1.isna().sum()

Country Name         0
Country Code         0
Year                 0
Population           0
Fertility Rate    1127
dtype: int64

In [172]:
#metadata.dropna(subset=['Region'],inplace=True)

In [173]:
metadata.isna().sum()

Country Code     0
Region          46
Country Name     0
dtype: int64

# Merging Life_expectancy and meta data

In [174]:
merge2 = pd.merge(life_expectancy_melt, metadata, on=["Country Code","Country Name"], how='left')

In [175]:
merge2

,Country Name,Country Code,year,life_expectancy,Region
0,Aruba,ABW,1960,65.662000,Latin America & Caribbean
1,Afghanistan,AFG,1960,32.292000,South Asia
2,Angola,AGO,1960,33.251000,Sub-Saharan Africa
3,Albania,ALB,1960,62.279000,Europe & Central Asia
4,Arab World,ARB,1960,46.825065,NaN
...,...,...,...,...,...
13742,Kosovo,XKX,2016,71.646341,Europe & Central Asia
13743,"Yemen, Rep.",YEM,2016,64.953000,Middle East & North Africa
13744,South Africa,ZAF,2016,62.774000,Sub-Saharan Africa
13745,Zambia,ZMB,2016,61.874000,Sub-Saharan Africa
13746,Zimbabwe,ZWE,2016,61.163000,Sub-Saharan Africa

In [176]:
merge2.shape

(13747, 5)

In [188]:
merge2.rename(columns={'year':'Year'},inplace=True)

# Merging merge1 and merge2

In [218]:
df=pd.merge(left=merge1, right=merge2, on=['Country Code','Country Name','Year'], how='left')

In [219]:
df

,Country Name,Country Code,Year,Population,Fertility Rate,life_expectancy,Region
0,Aruba,ABW,1960,54211.0,4.820,65.662000,Latin America & Caribbean
1,Afghanistan,AFG,1960,8996351.0,7.450,32.292000,South Asia
2,Angola,AGO,1960,5643182.0,7.478,33.251000,Sub-Saharan Africa
3,Albania,ALB,1960,1608800.0,6.489,62.279000,Europe & Central Asia
4,Andorra,AND,1960,13411.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
14880,Kosovo,XKX,2016,1816200.0,2.060,71.646341,Europe & Central Asia
14881,"Yemen, Rep.",YEM,2016,27584213.0,3.995,64.953000,Middle East & North Africa
14882,South Africa,ZAF,2016,56015473.0,2.458,62.774000,Sub-Saharan Africa
14883,Zambia,ZMB,2016,16591390.0,4.981,61.874000,Sub-Saharan Africa
14884,Zimbabwe,ZWE,2016,16150362.0,3.760,61.163000,Sub-Saharan Africa

In [220]:
df.shape

(14885, 7)

In [221]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14885 entries, 0 to 14884
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country Name     14885 non-null  object
 1   Country Code     14885 non-null  object
 2   Year             14885 non-null  int64
 3   Population       14885 non-null  float64
 4   Fertility Rate   13758 non-null  float64
 5   life_expectancy  13739 non-null  float64
 6   Region           10939 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 814.2+ KB

In [222]:
df.isna().sum()

Country Name          0
Country Code          0
Year                  0
Population            0
Fertility Rate     1127
life_expectancy    1146
Region             3946
dtype: int64

In [223]:
df.dropna(subset=['life_expectancy','Fertility Rate'], inplace=True)

In [224]:
df.isna().sum()

Country Name          0
Country Code          0
Year                  0
Population            0
Fertility Rate        0
life_expectancy       0
Region             2800
dtype: int64

In [225]:
df[df['Region'].isna()]['Country Name'].value_counts()

Country Name
Arab World                                              57
Central Europe and the Baltics                          57
Cote d'Ivoire                                           57
Caribbean small states                                  57
East Asia & Pacific (excluding high income)             57
Early-demographic dividend                              57
East Asia & Pacific                                     57
Europe & Central Asia (excluding high income)           57
Europe & Central Asia                                   57
Euro area                                               57
European Union                                          57
Fragile and conflict affected situations                57
High income                                             57
Heavily indebted poor countries (HIPC)                  57
IBRD only                                               57
IDA & IBRD total                                        57
IDA total                                               57
IDA blend                                               57
IDA only                                                57
Latin America & Caribbean (excluding high income)       57
Latin America & Caribbean                               57
Least developed countries: UN classification            57
Low income                                              57
Lower middle income                                     57
Low & middle income                                     57
Late-demographic dividend                               57
Middle East & North Africa                              57
Middle income                                           57
Middle East & North Africa (excluding high income)      57
North America                                           57
OECD members                                            57
Other small states                                      57
Pre-demographic dividend                                57
Korea, Dem. People’s Rep.                               57
Pacific island small states                             57
Post-demographic dividend                               57
South Asia                                              57
Sub-Saharan Africa (excluding high income)              57
Sub-Saharan Africa                                      57
Small states                                            57
Sao Tome and Principe                                   57
East Asia & Pacific (IDA & IBRD countries)              57
Europe & Central Asia (IDA & IBRD countries)            57
Latin America & the Caribbean (IDA & IBRD countries)    57
Middle East & North Africa (IDA & IBRD countries)       57
South Asia (IDA & IBRD)                                 57
Sub-Saharan Africa (IDA & IBRD countries)               57
Upper middle income                                     57
World                                                   57
Curacao                                                  7
Name: count, dtype: int64

In [226]:
df['Region'].unique()

array(['Latin America & Caribbean', 'South Asia', 'Sub-Saharan Africa',
       'Europe & Central Asia', nan, 'Middle East & North Africa',
       'East Asia & Pacific', 'North America'], dtype=object)

In [227]:
country_to_region = {
    'Arab World': 'Middle East & North Africa',
    'Central Europe and the Baltics': 'Europe & Central Asia',
    'Cote d\'Ivoire': 'Sub-Saharan Africa',
    'Caribbean small states': 'Latin America & Caribbean',
    'East Asia & Pacific': 'East Asia & Pacific',
    'Europe & Central Asia': 'Europe & Central Asia',
    'Euro area': 'Europe & Central Asia',
    'European Union': 'Europe & Central Asia',
    'Latin America & Caribbean': 'Latin America & Caribbean',
    'Middle East & North Africa': 'Middle East & North Africa',
    'North America': 'North America',
    'Korea, Dem. People’s Rep.': 'East Asia & Pacific',
    'South Asia': 'South Asia',
    'Sub-Saharan Africa': 'Sub-Saharan Africa',
    'Sao Tome and Principe': 'Sub-Saharan Africa',
    'Curacao': 'Latin America & Caribbean'
}

In [228]:
standard_country_names = set(country_to_region.keys())

In [229]:
print(standard_country_names)

{'Curacao', 'North America', 'East Asia & Pacific', 'Middle East & North Africa', 'South Asia', 'Sao Tome and Principe', 'Latin America & Caribbean', 'Caribbean small states', 'Korea, Dem. People’s Rep.', 'Sub-Saharan Africa', 'Arab World', 'European Union', 'Euro area', 'Central Europe and the Baltics', "Cote d'Ivoire", 'Europe & Central Asia'}

In [230]:
df['Region'] = df.apply(
    lambda row: country_to_region.get(row['Country Name'], row['Region']) 
    if row['Country Name'] in standard_country_names else row['Region'], axis=1)

In [231]:
df[df['Region'].isna()]['Country Name'].value_counts()

Country Name
East Asia & Pacific (excluding high income)             57
Early-demographic dividend                              57
Europe & Central Asia (excluding high income)           57
Fragile and conflict affected situations                57
High income                                             57
Heavily indebted poor countries (HIPC)                  57
IBRD only                                               57
IDA & IBRD total                                        57
IDA total                                               57
IDA blend                                               57
IDA only                                                57
Latin America & Caribbean (excluding high income)       57
Least developed countries: UN classification            57
Low income                                              57
Lower middle income                                     57
Low & middle income                                     57
Late-demographic dividend                               57
Middle income                                           57
Middle East & North Africa (excluding high income)      57
OECD members                                            57
Other small states                                      57
Pre-demographic dividend                                57
Pacific island small states                             57
Post-demographic dividend                               57
Sub-Saharan Africa (excluding high income)              57
Small states                                            57
East Asia & Pacific (IDA & IBRD countries)              57
Europe & Central Asia (IDA & IBRD countries)            57
Latin America & the Caribbean (IDA & IBRD countries)    57
Middle East & North Africa (IDA & IBRD countries)       57
South Asia (IDA & IBRD)                                 57
Sub-Saharan Africa (IDA & IBRD countries)               57
Upper middle income                                     57
World                                                   57
Name: count, dtype: int64

In [232]:
df.isna().sum()

Country Name          0
Country Code          0
Year                  0
Population            0
Fertility Rate        0
life_expectancy       0
Region             1938
dtype: int64

In [233]:
df.dropna(subset=['Region'], inplace=True)

In [234]:
df.isna().sum()

Country Name       0
Country Code       0
Year               0
Population         0
Fertility Rate     0
life_expectancy    0
Region             0
dtype: int64

In [235]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11772 entries, 0 to 14884
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Country Name     11772 non-null  object
 1   Country Code     11772 non-null  object
 2   Year             11772 non-null  int64
 3   Population       11772 non-null  float64
 4   Fertility Rate   11772 non-null  float64
 5   life_expectancy  11772 non-null  float64
 6   Region           11772 non-null  object
dtypes: float64(3), int64(1), object(3)
memory usage: 735.8+ KB

In [214]:
from gapminder import gapminder

In [ ]:
data = gapminder.loc[gapminder.year == 2007]

In [ ]:
data.info()

In [ ]:
sns.scatterplot(data=data, x="gdpPercap", y="lifeExp", size="pop", legend=False, sizes=(20, 2000))

# show the graph
plt.show()

In [216]:
import plotly.express as px

In [251]:
df.head()

,Country Name,Country Code,Year,Population,Fertility Rate,life_expectancy,Region
0,Aruba,ABW,1960,54211.0,4.820000,65.662000,Latin America & Caribbean
1,Afghanistan,AFG,1960,8996351.0,7.450000,32.292000,South Asia
2,Angola,AGO,1960,5643182.0,7.478000,33.251000,Sub-Saharan Africa
3,Albania,ALB,1960,1608800.0,6.489000,62.279000,Europe & Central Asia
5,Arab World,ARB,1960,92490932.0,6.948747,46.825065,Middle East & North Africa

In [237]:
d = px.data.gapminder().query("country=='Canada'")

In [238]:
d

    country continent  year  lifeExp       pop    gdpPercap iso_alpha  iso_num
240  Canada  Americas  1952   68.750  14785584  11367.16112       CAN      124
241  Canada  Americas  1957   69.960  17010154  12489.95006       CAN      124
242  Canada  Americas  1962   71.300  18985849  13462.48555       CAN      124
243  Canada  Americas  1967   72.130  20819767  16076.58803       CAN      124
244  Canada  Americas  1972   72.880  22284500  18970.57086       CAN      124
245  Canada  Americas  1977   74.210  23796400  22090.88306       CAN      124
246  Canada  Americas  1982   75.760  25201900  22898.79214       CAN      124
247  Canada  Americas  1987   76.860  26549700  26626.51503       CAN      124
248  Canada  Americas  1992   77.950  28523502  26342.88426       CAN      124
249  Canada  Americas  1997   78.610  30305843  28954.92589       CAN      124
250  Canada  Americas  2002   79.770  31902268  33328.96507       CAN      124
251  Canada  Americas  2007   80.653  33390141  36319.23501       CAN      124

In [240]:
i = df[df['Country Name'] == 'India']

In [241]:
i

,Country Name,Country Code,Year,Population,Fertility Rate,life_expectancy,Region
107,India,IND,1960,4.494806e+08,5.906,41.174,South Asia
367,India,IND,1961,4.584950e+08,5.902,41.794,South Asia
627,India,IND,1962,4.678525e+08,5.894,42.421,South Asia
887,India,IND,1963,4.775280e+08,5.880,43.057,South Asia
1147,India,IND,1964,4.874845e+08,5.859,43.702,South Asia
1407,India,IND,1965,4.977024e+08,5.830,44.356,South Asia
1667,India,IND,1966,5.081619e+08,5.794,45.020,South Asia
1927,India,IND,1967,5.188898e+08,5.751,45.691,South Asia
2187,India,IND,1968,5.299673e+08,5.702,46.366,South Asia
2447,India,IND,1969,5.415051e+08,5.648,47.043,South Asia
2707,India,IND,1970,5.535785e+08,5.587,47.721,South Asia
2967,India,IND,1971,5.662248e+08,5.519,48.399,South Asia
3227,India,IND,1972,5.794115e+08,5.444,49.075,South Asia
3487,India,IND,1973,5.930589e+08,5.363,49.746,South Asia
3747,India,IND,1974,6.070503e+08,5.278,50.405,South Asia
4007,India,IND,1975,6.213017e+08,5.192,51.047,South Asia
4267,India,IND,1976,6.357717e+08,5.108,51.665,South Asia
4527,India,IND,1977,6.504850e+08,5.029,52.257,South Asia
4787,India,IND,1978,6.655023e+08,4.956,52.819,South Asia
5047,India,IND,1979,6.809158e+08,4.889,53.349,South Asia
5307,India,IND,1980,6.967835e+08,4.827,53.842,South Asia
5567,India,IND,1981,7.131180e+08,4.766,54.295,South Asia
5827,India,IND,1982,7.298680e+08,4.703,54.711,South Asia
6087,India,IND,1983,7.469491e+08,4.636,55.099,South Asia
6347,India,IND,1984,7.642452e+08,4.563,55.468,South Asia
6607,India,IND,1985,7.816667e+08,4.484,55.830,South Asia
6867,India,IND,1986,7.991814e+08,4.399,56.201,South Asia
7127,India,IND,1987,8.167927e+08,4.311,56.589,South Asia
7387,India,IND,1988,8.344893e+08,4.222,57.003,South Asia
7647,India,IND,1989,8.522700e+08,4.132,57.445,South Asia
7907,India,IND,1990,8.701335e+08,4.045,57.915,South Asia
8169,India,IND,1991,8.880549e+08,3.959,58.409,South Asia
8431,India,IND,1992,9.060211e+08,3.877,58.915,South Asia
8692,India,IND,1993,9.240578e+08,3.799,59.421,South Asia
8953,India,IND,1994,9.422042e+08,3.723,59.921,South Asia
9214,India,IND,1995,9.604828e+08,3.651,60.408,South Asia
9476,India,IND,1996,9.788932e+08,3.582,60.877,South Asia
9738,India,IND,1997,9.974053e+08,3.514,61.327,South Asia
10000,India,IND,1998,1.015974e+09,3.446,61.761,South Asia
10263,India,IND,1999,1.034539e+09,3.379,62.179,South Asia
10526,India,IND,2000,1.053051e+09,3.311,62.582,South Asia
10789,India,IND,2001,1.071478e+09,3.243,62.977,South Asia
11052,India,IND,2002,1.089807e+09,3.175,63.368,South Asia
11315,India,IND,2003,1.108028e+09,3.107,63.759,South Asia
11578,India,IND,2004,1.126136e+09,3.038,64.154,South Asia
11841,India,IND,2005,1.144119e+09,2.969,64.556,South Asia
12104,India,IND,2006,1.161978e+09,2.897,64.966,South Asia
12367,India,IND,2007,1.179681e+09,2.823,65.383,South Asia
12630,India,IND,2008,1.197147e+09,2.748,65.802,South Asia
12893,India,IND,2009,1.214270e+09,2.673,66.219,South Asia
13156,India,IND,2010,1.230981e+09,2.601,66.625,South Asia
13419,India,IND,2011,1.247236e+09,2.534,67.013,South Asia
13681,India,IND,2012,1.263066e+09,2.475,67.377,South Asia
13943,India,IND,2013,1.278562e+09,2.425,67.714,South Asia
14205,India,IND,2014,1.293859e+09,2.384,68.021,South Asia
14467,India,IND,2015,1.309054e+09,2.352,68.302,South Asia
14729,India,IND,2016,1.324171e+09,2.326,68.560,South Asia

In [242]:
fig = px.line(i, x="Year", y="Population", title='Population trends in india')
fig.show()

In [250]:
df.groupby('Region')['Country Name'].count()

Region
East Asia & Pacific           1830
Europe & Central Asia         3106
Latin America & Caribbean     2107
Middle East & North Africa    1274
North America                  188
South Asia                     513
Sub-Saharan Africa            2754
Name: Country Name, dtype: int64

In [253]:
region_counts = df.groupby('Region')['Country Name'].nunique().reset_index(name='Number of Countries')

region_counts

                       Region  Number of Countries
0         East Asia & Pacific                   34
1       Europe & Central Asia                   59
2   Latin America & Caribbean                   41
3  Middle East & North Africa                   23
4               North America                    4
5                  South Asia                    9
6          Sub-Saharan Africa                   49

In [262]:
from dash import Dash, dcc, html, Input, Output
import plotly.express as px

app = Dash(__name__)

app.layout = html.Div([
    html.H4('Life expentancy progression of countries per continents'),
    dcc.Graph(id="graph"),
    dcc.Checklist(
        id="checklist",
        options=["East Asia & Pacific", "Europe & Central Asia", "Middle East & North Africa","Latin Americas & Caribbean","North America","South Asia","Sub-Saharan African"],
        value=["North America", "South Asia"],
        inline=True
    ),
])

@app.callback(
    Output("graph", "figure"), 
    Input("checklist", "value"))
def update_line_chart(continents):
    dfs = df # replace with your own data source
    mask = dfs.Region.isin(continents)
    fig = px.line(dfs[mask], 
        x="Year", y="life_expectancy", color='Country Name')
    return fig

In [263]:
app.run_server(debug=True)

In [261]:
df

,Country Name,Country Code,Year,Population,Fertility Rate,life_expectancy,Region
0,Aruba,ABW,1960,54211.0,4.820000,65.662000,Latin America & Caribbean
1,Afghanistan,AFG,1960,8996351.0,7.450000,32.292000,South Asia
2,Angola,AGO,1960,5643182.0,7.478000,33.251000,Sub-Saharan Africa
3,Albania,ALB,1960,1608800.0,6.489000,62.279000,Europe & Central Asia
5,Arab World,ARB,1960,92490932.0,6.948747,46.825065,Middle East & North Africa
...,...,...,...,...,...,...,...
14880,Kosovo,XKX,2016,1816200.0,2.060000,71.646341,Europe & Central Asia
14881,"Yemen, Rep.",YEM,2016,27584213.0,3.995000,64.953000,Middle East & North Africa
14882,South Africa,ZAF,2016,56015473.0,2.458000,62.774000,Sub-Saharan Africa
14883,Zambia,ZMB,2016,16591390.0,4.981000,61.874000,Sub-Saharan Africa
14884,Zimbabwe,ZWE,2016,16150362.0,3.760000,61.163000,Sub-Saharan Africa