In [33]:
import numpy as np
import pandas as pd

In [34]:
dc = pd.read_csv("Dataset/dc-wikia-data.csv")
marvel = pd.read_csv("Dataset/marvel-wikia-data.csv")

In [35]:
dc.head(5)

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR
0,1422,Batman (Bruce Wayne),\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0
1,23387,Superman (Clark Kent),\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0
2,1458,Green Lantern (Hal Jordan),\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0
3,1659,James Gordon (New Earth),\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0
4,1576,Richard Grayson (New Earth),\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0

In [36]:
dc.shape

(6896, 13)

In [37]:
dc.isna().sum()

page_id                0
name                   0
urlslug                0
ID                  2013
ALIGN                601
EYE                 3628
HAIR                2274
SEX                  125
GSM                 6832
ALIVE                  3
APPEARANCES          355
FIRST APPEARANCE      69
YEAR                  69
dtype: int64

In [38]:
dc['alter_ego'] = dc['name'].str.extract(r'\((.*?)\)')

In [39]:
dc['name'] = dc['name'].str.replace(r' \(.*?\)', '', regex=True)

In [40]:
dc

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR,alter_ego
0,1422,Batman,\/wiki\/Batman_(Bruce_Wayne),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3093.0,"1939, May",1939.0,Bruce Wayne
1,23387,Superman,\/wiki\/Superman_(Clark_Kent),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2496.0,"1986, October",1986.0,Clark Kent
2,1458,Green Lantern,\/wiki\/Green_Lantern_(Hal_Jordan),Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,NaN,Living Characters,1565.0,"1959, October",1959.0,Hal Jordan
3,1659,James Gordon,\/wiki\/James_Gordon_(New_Earth),Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,NaN,Living Characters,1316.0,"1987, February",1987.0,New Earth
4,1576,Richard Grayson,\/wiki\/Richard_Grayson_(New_Earth),Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,1237.0,"1940, April",1940.0,New Earth
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6891,66302,Nadine West,\/wiki\/Nadine_West_(New_Earth),Public Identity,Good Characters,NaN,NaN,Female Characters,NaN,Living Characters,NaN,NaN,NaN,New Earth
6892,283475,Warren Harding,\/wiki\/Warren_Harding_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN,New Earth
6893,283478,William Harrison,\/wiki\/William_Harrison_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN,New Earth
6894,283471,William McKinley,\/wiki\/William_McKinley_(New_Earth),Public Identity,Good Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN,New Earth
6895,150660,Mookie,\/wiki\/Mookie_(New_Earth),Public Identity,Bad Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN,New Earth

In [41]:
dc['ID'].value_counts()

ID
Public Identity     2466
Secret Identity     2408
Identity Unknown       9
Name: count, dtype: int64

In [42]:
dc.drop(columns='urlslug', inplace=True)

In [56]:
dc.drop(columns='GSM', inplace=True)

In [43]:
dc[dc['ALIGN'] == 'Good Characters']['name']

0                 Batman
1               Superman
2          Green Lantern
3           James Gordon
4        Richard Grayson
              ...
6890      James Garfield
6891         Nadine West
6892      Warren Harding
6893    William Harrison
6894    William McKinley
Name: name, Length: 2832, dtype: object

In [44]:
dc[dc['ALIGN'] == 'Bad Characters']['name']

19       Alexander Luthor
30                  Joker
44                   Uxas
66            Harvey Dent
107        Jonathan Crane
              ...
6874    Bartholomew Magan
6879                Dmane
6881           Doris Zuel
6884          Basil Karlo
6895               Mookie
Name: name, Length: 2895, dtype: object

In [45]:
dc[dc['ALIGN'] == 'Good Characters']['SEX'].value_counts()

SEX
Male Characters          1843
Female Characters         953
Genderless Characters       6
Name: count, dtype: int64

In [46]:
dc[dc['ALIGN'] == 'Bad Characters']['SEX'].value_counts()

SEX
Male Characters           2223
Female Characters          597
Genderless Characters       11
Transgender Characters       1
Name: count, dtype: int64

In [47]:
dc.dropna(subset=['APPEARANCES'], inplace=True)

In [48]:
dc.isna().sum()

page_id                0
name                   0
ID                  1883
ALIGN                566
EYE                 3426
HAIR                2093
SEX                  114
GSM                 6477
ALIVE                  2
APPEARANCES            0
FIRST APPEARANCE      60
YEAR                  60
alter_ego              5
dtype: int64

In [51]:
dc.sort_values(by='APPEARANCES', ascending =False, inplace=True)

In [55]:
dc[(dc['ALIGN'] == 'Good Characters') & (dc['ID']=='Secret Identity')]['name']

0                Batman
1              Superman
2         Green Lantern
4       Richard Grayson
7         Timothy Drake
             ...
6290          Abe Crane
6301         Jake Tyler
6405           C.A.P.D.
6482           Heimdall
6526        Green Arrow
Name: name, Length: 811, dtype: object

In [57]:
dc

,page_id,name,ID,ALIGN,EYE,HAIR,SEX,ALIVE,APPEARANCES,FIRST APPEARANCE,YEAR,alter_ego
0,1422,Batman,Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,Living Characters,3093.0,"1939, May",1939.0,Bruce Wayne
1,23387,Superman,Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,Living Characters,2496.0,"1986, October",1986.0,Clark Kent
2,1458,Green Lantern,Secret Identity,Good Characters,Brown Eyes,Brown Hair,Male Characters,Living Characters,1565.0,"1959, October",1959.0,Hal Jordan
3,1659,James Gordon,Public Identity,Good Characters,Brown Eyes,White Hair,Male Characters,Living Characters,1316.0,"1987, February",1987.0,New Earth
4,1576,Richard Grayson,Secret Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,Living Characters,1237.0,"1940, April",1940.0,New Earth
...,...,...,...,...,...,...,...,...,...,...,...,...
6526,1510,Green Arrow,Secret Identity,Good Characters,Green Eyes,Blond Hair,Male Characters,Living Characters,1.0,"1941, November",1941.0,Oliver Queen
6525,23576,Frederick Devere,NaN,Bad Characters,NaN,NaN,Male Characters,Living Characters,1.0,"1941, June",1941.0,New Earth
6524,23574,Brenda Forest,NaN,NaN,NaN,Brown Hair,Female Characters,Living Characters,1.0,"1941, June",1941.0,New Earth
6523,366214,Carnie Callahan,Public Identity,Good Characters,NaN,NaN,Male Characters,Living Characters,1.0,"1944, May",1944.0,New Earth
6522,277385,Kay,Public Identity,Good Characters,NaN,NaN,Male Characters,Living Characters,1.0,"1946, August",1946.0,New Earth

In [58]:
marvel

,page_id,name,urlslug,ID,ALIGN,EYE,HAIR,SEX,GSM,ALIVE,APPEARANCES,FIRST APPEARANCE,Year
0,1678,Spider-Man (Peter Parker),\/Spider-Man_(Peter_Parker),Secret Identity,Good Characters,Hazel Eyes,Brown Hair,Male Characters,NaN,Living Characters,4043.0,Aug-62,1962.0
1,7139,Captain America (Steven Rogers),\/Captain_America_(Steven_Rogers),Public Identity,Good Characters,Blue Eyes,White Hair,Male Characters,NaN,Living Characters,3360.0,Mar-41,1941.0
2,64786,"Wolverine (James \""Logan\"" Howlett)",\/Wolverine_(James_%22Logan%22_Howlett),Public Identity,Neutral Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,3061.0,Oct-74,1974.0
3,1868,"Iron Man (Anthony \""Tony\"" Stark)",\/Iron_Man_(Anthony_%22Tony%22_Stark),Public Identity,Good Characters,Blue Eyes,Black Hair,Male Characters,NaN,Living Characters,2961.0,Mar-63,1963.0
4,2460,Thor (Thor Odinson),\/Thor_(Thor_Odinson),No Dual Identity,Good Characters,Blue Eyes,Blond Hair,Male Characters,NaN,Living Characters,2258.0,Nov-50,1950.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
16371,657508,Ru'ach (Earth-616),\/Ru%27ach_(Earth-616),No Dual Identity,Bad Characters,Green Eyes,No Hair,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16372,665474,Thane (Thanos' son) (Earth-616),\/Thane_(Thanos%27_son)_(Earth-616),No Dual Identity,Good Characters,Blue Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16373,695217,Tinkerer (Skrull) (Earth-616),\/Tinkerer_(Skrull)_(Earth-616),Secret Identity,Bad Characters,Black Eyes,Bald,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16374,708811,TK421 (Spiderling) (Earth-616),\/TK421_(Spiderling)_(Earth-616),Secret Identity,Neutral Characters,NaN,NaN,Male Characters,NaN,Living Characters,NaN,NaN,NaN
16375,673702,Yologarch (Earth-616),\/Yologarch_(Earth-616),NaN,Bad Characters,NaN,NaN,NaN,NaN,Living Characters,NaN,NaN,NaN