In [116]:
import numpy as np
import pandas as pd
import os

In [117]:
df = pd.read_csv(r"C:\Users\sanja\Downloads\chipotle.tsv", sep='\t')

In [118]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [119]:
'''Missing Value'''
df.isnull().sum()

order_id                 0
quantity                 0
item_name                0
choice_description    1246
item_price               0
dtype: int64

In [120]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [121]:
df['item_price'] = df['item_price'].apply(lambda x:x.replace("$",''))

In [122]:
df['item_price'] = df['item_price'].astype(float)

In [123]:
x = df.duplicated().sum()
print(x)

59

In [124]:
# to drop duplicate value
df.drop_duplicates(inplace=True)

In [125]:
# Examine the Quantity and Item Price columns.

Invalid_quality = df[~df['quantity'].apply(lambda x: isinstance(x,int) and x>0)]
print(Invalid_quality)

Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price]
Index: []

In [126]:
invalid_item_price = df[df['item_price'] <= 0]
print(invalid_item_price)

Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price]
Index: []

In [127]:
df['choice_description'].unique()

array([nan, '[Clementine]', '[Apple]', ...,
       '[Roasted Chili Corn Salsa, [Pinto Beans, Sour Cream, Cheese, Lettuce, Guacamole]]',
       '[Tomatillo Green Chili Salsa, [Rice, Black Beans]]',
       '[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Black Beans, Guacamole]]'],
      dtype=object)

In [128]:
#Handling Special Characters:
import re

df['item_name'] = df['item_name'].apply(lambda x: re.sub(r'\W+', ' ', x))
df['choice_description'] = df['choice_description'].apply(lambda x: re.sub(r'\W+', ' ', x) if pd.notnull(x) else x)

In [129]:
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,Clementine,3.39
2,1,1,Nantucket Nectar,Apple,3.39
3,1,1,Chips and Tomatillo Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,Tomatillo Red Chili Salsa Hot Black Beans Ric...,16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,Fresh Tomato Salsa Rice Black Beans Sour Crea...,11.75
4618,1833,1,Steak Burrito,Fresh Tomato Salsa Rice Sour Cream Cheese Let...,11.75
4619,1834,1,Chicken Salad Bowl,Fresh Tomato Salsa Fajita Vegetables Pinto Be...,11.25
4620,1834,1,Chicken Salad Bowl,Fresh Tomato Salsa Fajita Vegetables Lettuce,8.75
4621,1834,1,Chicken Salad Bowl,Fresh Tomato Salsa Fajita Vegetables Pinto Be...,8.75

In [130]:
#Order ID Integrity:
df['order_id'].value_counts()

order_id
926     21
1483    14
1786    11
759     11
691     11
        ..
94       1
1374     1
837      1
831      1
528      1
Name: count, Length: 1834, dtype: int64

In [131]:
# Item Name Standardization:
df['item_name'] = df['item_name'].str.lower().str.strip()
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,chips and fresh tomato salsa,NaN,2.39
1,1,1,izze,Clementine,3.39
2,1,1,nantucket nectar,Apple,3.39
3,1,1,chips and tomatillo green chili salsa,NaN,2.39
4,2,2,chicken bowl,Tomatillo Red Chili Salsa Hot Black Beans Ric...,16.98
...,...,...,...,...,...
4617,1833,1,steak burrito,Fresh Tomato Salsa Rice Black Beans Sour Crea...,11.75
4618,1833,1,steak burrito,Fresh Tomato Salsa Rice Sour Cream Cheese Let...,11.75
4619,1834,1,chicken salad bowl,Fresh Tomato Salsa Fajita Vegetables Pinto Be...,11.25
4620,1834,1,chicken salad bowl,Fresh Tomato Salsa Fajita Vegetables Lettuce,8.75
4621,1834,1,chicken salad bowl,Fresh Tomato Salsa Fajita Vegetables Pinto Be...,8.75

In [132]:
df['item_price_per'] = df['item_price'] / df['quantity']

In [133]:
# Data Integrity Check:

data_intergrity = df[(df['quantity'] * df['item_price_per']).round(2) != df['item_price']]
print(data_intergrity)

Empty DataFrame
Columns: [order_id, quantity, item_name, choice_description, item_price, item_price_per]
Index: []

In [134]:
# Convert into csv
df.to_csv('cleaned_chipotle_data.csv', sep=',', index=False)

In [135]:
df_encoded = pd.get_dummies(df, columns=['item_name'])
df_encoded.head()

,order_id,quantity,choice_description,item_price,item_price_per,item_name_6 pack soft drink,item_name_barbacoa bowl,item_name_barbacoa burrito,item_name_barbacoa crispy tacos,item_name_barbacoa salad bowl,...,item_name_steak crispy tacos,item_name_steak salad,item_name_steak salad bowl,item_name_steak soft tacos,item_name_veggie bowl,item_name_veggie burrito,item_name_veggie crispy tacos,item_name_veggie salad,item_name_veggie salad bowl,item_name_veggie soft tacos
0,1,1,NaN,2.39,2.39,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,1,Clementine,3.39,3.39,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1,1,Apple,3.39,3.39,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,1,NaN,2.39,2.39,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,2,2,Tomatillo Red Chili Salsa Hot Black Beans Ric...,16.98,8.49,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [136]:
#Questions: 
#1.Quantity of each item
df.groupby('item_name').sum().head()

,order_id,quantity,choice_description,item_price,item_price_per
item_name,,,,,
6 pack soft drink,52322,55,Sprite Diet Coke Coke Diet Coke Diet Coke...,356.95,350.46
barbacoa bowl,53396,65,Roasted Chili Corn Salsa Fajita Vegetables Ri...,663.11,663.11
barbacoa burrito,72891,90,Fresh Tomato Salsa Mild Tomatillo Green Chili...,885.50,885.50
barbacoa crispy tacos,5613,12,Tomatillo Red Chili Salsa Rice Black Beans Ch...,120.21,110.96
barbacoa salad bowl,9132,9,Fresh Tomato Salsa Rice Fajita Vegetables Pin...,97.01,97.01

In [137]:
#2 What was the most ordered item in the choice_description column?
df['choice_description'].value_counts()

choice_description
 Diet Coke                                                                                                                       133
 Coke                                                                                                                            115
 Sprite                                                                                                                           77
 Fresh Tomato Salsa Rice Black Beans Cheese Sour Cream Lettuce                                                                    41
 Fresh Tomato Salsa Rice Black Beans Cheese Sour Cream Guacamole Lettuce                                                          38
                                                                                                                                ...
 Tomatillo Green Chili Salsa Sour Cream Cheese Guacamole Rice Fajita Vegetables                                                    1
 Fresh Tomato Salsa Mild Pinto Beans Black Beans Rice Cheese Sour Cream Lettuce                                                    1
 Fresh Tomato Salsa Mild Roasted Chili Corn Salsa Medium Tomatillo Red Chili Salsa Hot Pinto Beans Cheese Sour Cream Lettuce       1
 Fresh Tomato Mild Guacamole Rice Black Beans                                                                                      1
 Tomatillo Green Chili Salsa Rice Fajita Vegetables Black Beans Guacamole                                                          1
Name: count, Length: 1043, dtype: int64

In [138]:
df['quantity'].sum()

4913

In [139]:
# 3.How much was the revenue for the period in the dataset?
X = df['item_price'].sum()
print("Total revenue for the period in the dataset $",X)

Total revenue for the period in the dataset $ 34177.25

In [140]:
# 4.How many orders were made in the period?
total_orders = df['order_id'].nunique()
print("Total Orders: ", total_orders)

Total Orders:  1834

In [141]:
# 5. What is the average revenue amount per order?
Avg_revenue = X / total_orders
print("Average revenue per Order: ", Avg_revenue)

Average revenue per Order:  18.635359869138494

In [114]:
Item_nunique = df['item_name'].nunique()
print("Total Items: ", Item_nunique)

Total Items:  47